footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d3fff6; /* Color gris oscuro */
    color: #000000; /* Texto blanco */
    text-align: center;
    font-size: 0.875rem; /* Tamaño de fuente pequeño */
    padding: .5rem 0; /* Espaciado vertical */
  }