<header class="bg-neutral-800 text-white p-4 shadow-md relative">
    <!-- Título centrado -->
    <h1 class="text-2xl pt-1 pb-1 text-center" style="font-family: 'Roboto Mono', monospace;">
      {{ 'TITLE' | translate }}
    </h1>

    <!-- Botón del mundo en la esquina superior derecha -->
    <div class="absolute top-4 right-4">
      <button class="text-white text-xl p-2 hover:text-gray-300" (click)="toggleDropdown()">
        🌍
      </button>
      <!-- Menú desplegable -->
      <ul
        *ngIf="dropdownOpen"
        class="absolute right-0 mt-2 bg-neutral-700 text-white shadow-lg rounded-md w-32"
      >
        <li
          *ngFor="let lang of languages"
          class="px-4 py-2 hover:bg-neutral-600 cursor-pointer"
          (click)="changeLanguage(lang)"
        >
          {{ lang.label }}
        </li>
      </ul>
    </div>
  </header>