<div class="relative">
    <!-- Imagen de fondo -->
    <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('assets/banner.jpg');">
        <div class="h-full bg-gradient-to-b from-gray-900/50 to-transparent"></div>
    </div>
    <!-- Contenido centrado -->
    <div class="text-white relative max-w-4xl mx-auto p-6">
        <h2 class="w-40 text-2xl bg-black/75 p-2 mb-4 text-shadow-lg">Instrucciones</h2>
        <ol class="text-lg list-decimal list-inside text-shadow-md">
            <li class="bg-black/75 p-1">Asigne las etiquetas de los ejes.</li>
            <li class="bg-black/75 p-1">Ingrese los datos X e Y en la tabla uno por uno.</li>
            <li class="bg-black/75 p-1">Presione "+" para generar más filas.</li>
            <li class="bg-black/75 p-1">Pulse el botón "Confirmar datos" para verificar y graficar los datos ingresados.</li>
        </ol>
    </div>
</div>