<div class="relative overflow-hidden">
    <!-- Imagen de fondo -->
    <div class="absolute inset-0 bg-cover bg-center" 
    style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('assets/banner.jpg');">
        <div class="h-full bg-gradient-to-b from-gray-900/50 to-white"></div>
    </div>
    <!-- Contenido centrado -->
    <div class="text-white relative max-w-4xl mx-auto p-6">
        <h2 class="w-36 text-xl bg-black/60 p-2 mb-2 text-center font-light">Instrucciones</h2>
        <ol class="text-lg list-decimal list-inside text-shadow-md max-md:text-sm bg-black/60 p-2">
            <li class="flex items-center p-1 pl-2">
                <span class="flex items-center justify-center w-6 h-6 bg-white text-black font-bold rounded-full mr-2 shrink-0">1</span>
                Asigne las etiquetas de los ejes.
            </li>
            <li class="flex items-center p-1 pl-2">
                <span class="flex items-center justify-center w-6 h-6 bg-white text-black font-bold rounded-full mr-2 shrink-0">2</span>
                Ingrese los datos X e Y en la tabla uno por uno, presione "+" para generar más filas.
            </li>
            <li class="flex items-center p-1 pl-2">
                <span class="flex items-center justify-center w-6 h-6 bg-white text-black font-bold rounded-full mr-2 shrink-0">3</span>
                Pulse "Generar" para mostrar sus valores.
            </li>
            <li class="flex items-center p-1 pl-2">
                <span class="flex items-center justify-center w-6 h-6 bg-white text-black font-bold rounded-full mr-2 shrink-0">4</span>
                Seleccione el tipo de gráfica que quiere.
            </li>
        </ol>
    </div>
</div>