<div class="mt-5 max-w-4xl mx-auto text-center p-6  bg-white">
    <!-- Step 1: Asignación de etiquetas -->
    <div *ngIf="currentStep === 1" class="h-full">
        <div class="flex items-center justify-center mb-10 mt-10">
            <span class="bg-blue-500 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">1</span>
            <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">2</span>
            <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">3</span>
            <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full">4</span>
        </div>
        <h2 class="text-2xl mb-4 text-gray-700">Datos para la gráfica</h2>
        <p class="mb-5">Ingrese las etiquetas y unidades de medida (opcional):</p>
        <form class="space-y-4 mb-16">
            <div class="flex flex-wrap gap-4 justify-center mb-5">
                <!-- Input para etiqueta del eje X -->
                <div class="w-full md:w-1/2 flex items-center gap-2">
                    <input id="labelX" type="text" [(ngModel)]="labelX" name="labelX" 
                        class="w-full p-2 border border-cyan-500 bg-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
                        placeholder="Etiqueta del eje X" maxlength="15">
                    <div class="relative flex items-center">
                        <input id="unitX" type="text" [(ngModel)]="unitX" name="unitX" 
                            class="w-24 p-2 border border-gray-300 bg-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:text-sm placeholder:text-gray-500" 
                            placeholder="Unidad" maxlength="8">
                        <div class="relative ml-2">
                            <button type="button" class="w-8 h-8 bg-blue-500 text-white rounded-full flex items-center justify-center shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                x²
                            </button>
                            <select class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer" 
                                (change)="onUnitChange($event, 'unitX')">
                                <option value="">Agregar</option>
                                <option value="²">² (superíndice)</option>
                                <option value="³">³ (superíndice)</option>
                                <option value="ₓ">ₓ (subíndice x)</option>
                                <option value="ₙ">ₙ (subíndice n)</option>
                                <option value="α">α (alfa)</option>
                                <option value="β">β (beta)</option>
                                <option value="γ">γ (gamma)</option>
                                <option value="δ">δ (delta)</option>
                                <option value="θ">θ (theta)</option>
                                <option value="λ">λ (lambda)</option>
                                <option value="μ">μ (mu)</option>
                                <option value="Ω">Ω (omega)</option>
                                <option value="π">π (pi)</option>
                                <option value="σ">σ (sigma)</option>
                                <option value="ε">ε (epsilon)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Input para etiqueta del eje Y -->
                <div class="w-full md:w-1/2 flex items-center gap-2">
                    <input id="labelY" type="text" [(ngModel)]="labelY" name="labelY" 
                        class="w-full p-2 border border-cyan-500 bg-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 " 
                        placeholder="Etiqueta del eje Y" maxlength="15">
                    <div class="relative flex items-center">
                        <input id="unitY" type="text" [(ngModel)]="unitY" name="unitY" 
                            class="w-24 p-2 border border-gray-300 bg-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:text-sm placeholder:text-gray-500" 
                            placeholder="Unidad" maxlength="8">
                        <div class="relative ml-2">
                            <button type="button" class="w-8 h-8 bg-blue-500 text-white rounded-full flex items-center justify-center shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                x²
                            </button>
                            <select class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer" 
                                (change)="onUnitChange($event, 'unitY')">
                                <option value="">Agregar</option>
                                <option value="²">² (superíndice)</option>
                                <option value="³">³ (superíndice)</option>
                                <option value="ₓ">ₓ (subíndice x)</option>
                                <option value="ₙ">ₙ (subíndice n)</option>
                                <option value="α">α (alfa)</option>
                                <option value="β">β (beta)</option>
                                <option value="γ">γ (gamma)</option>
                                <option value="δ">δ (delta)</option>
                                <option value="θ">θ (theta)</option>
                                <option value="λ">λ (lambda)</option>
                                <option value="μ">μ (mu)</option>
                                <option value="Ω">Ω (omega)</option>
                                <option value="π">π (pi)</option>
                                <option value="σ">σ (sigma)</option>
                                <option value="ε">ε (epsilon)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <p *ngIf="showError && !labelX" class="text-red-500 text-sm">La etiqueta del eje X es requerida.</p>
            <p *ngIf="showError && !labelY" class="text-red-500 text-sm">La etiqueta del eje Y es requerida.</p>
            <button type="button" class="mb-16 mt-4 px-6 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="assignLabels()">
                Asignar etiquetas
            </button>
        </form>
    </div>
    
    
    <!-- Step 2: Inserción de valores -->
    <div *ngIf="currentStep === 2 || currentStep === 3" class="text-center">
        <div class="flex items-center justify-center mb-24 mt-10">
            <span (click)="resetForm()" class="cursor-pointer bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">1</span>
            <span class="bg-blue-500 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">2</span>
            <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">3</span>
            <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full">4</span>
        </div>
        <h2 class="text-2xl mb-4 text-gray-700 font-light ">Inserte valores para graficar</h2>
        <p class="text-sm md:hidden text-gray-600">Valores en {{labelX}} ({{unitX ? unitX : 'Unidad'}}) y {{labelY}} ({{unitY ? unitY : 'Unidad'}}):</p>
        <form class="space-y-6 flex items-center justify-center mt-5 md:mt-10">
            <div class="flex items-center gap-6 justify-center">
                <div>
                    <!-- Inputs organizados horizontalmente -->
                    <div class="flex items-center gap-4 w-full">
                        <label for="valueX" class="text-sm w-full text-gray-700 max-md:hidden md:block">Valor en {{labelX}} ({{unitX ? unitX : 'Unidad'}}):</label>
                        <input id="valueX" type="number" inputmode="numeric" 
                        [(ngModel)]="valueX" name="valueX" 
                        class="mt-2 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="{{labelX}}">
                    </div>
                    <div class="flex items-center gap-4 w-full">
                        <label for="valueY" class="text-sm text-gray-700  max-md:hidden md:block">Valor en {{labelY}} ({{unitY ? unitY : 'Unidad'}}):</label>
                        <input id="valueY" type="number" inputmode="numeric" 
                        [(ngModel)]="valueY" name="valueY" 
                        class="mt-2 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
                        placeholder="{{labelY}}">
                    </div>
                </div>
                <!-- Botón circular -->
                <button type="button" class="mt-2 md:mt-0 px-6 py-4 text-center text-3xl bg-green-500 text-white rounded-full shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500" (click)="addValues()">
                    +
                </button>
            </div>
        </form>
        <p class="mt-20 mb-10 text-center text-lg text-gray-500 font-light"  *ngIf="values.length == 0">Inserte valores para generar</p>
        <table class="mt-10 mb-10 w-full border-collapse border border-gray-300" *ngIf="values.length > 0">
            <caption class="text-lg font-semibold text-gray-700 mb-2">Valores ingresados</caption>
            <thead>
                <tr>
                    <th class="border border-gray-300 px-4 py-2 w-20">{{labelX}}({{unitX ? unitX : 'Unidad'}})</th>
                    <th class="border border-gray-300 px-4 py-2 w-20">{{labelY}}({{unitY ? unitY : 'Unidad'}})</th>
                    <th class="border border-gray-300 px-4 py-2 w-10">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pair of values; let i = index">
                    <td class="border border-gray-300 px-4 py-2 w-20">{{ pair.x.toFixed(2) }}</td>
                    <td class="border border-gray-300 px-4 py-2 w-20">{{ pair.y.toFixed(2) }}</td>
                    <td class="border border-gray-300 px-4 py-2 w-10">
                        <button type="button" class="px-4 py-2 bg-red-500 text-white rounded-full shadow-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500" (click)="removeValue(i)">
                            x
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="values.length > 1">
            <!-- Línea divisoria -->
            <hr class="border-t border-gray-300 my-8 mt-24">
            <div class="flex items-center justify-center mb-24 mt-20">
                <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">1</span>
                <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">2</span>
                <span class="bg-blue-500 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">3</span>
                <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full">4</span>
            </div>
            <!-- Botones para seleccionar el tipo de gráfica -->
            <div class="mb-24">  
                <button type="button" class="px-6 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="this.currentStep = 3; generateGraph(); scrollToGraph()">
                    Generar
                </button>
            </div> 
        </div>
    </div>
    
        
        <!-- Step 3: Gráfica generada -->
    <div [class.hidden]="currentStep !== 3" class="text-center mt-10">
        <h2 class="text-2xl mb-1 text-gray-700">Gráfica generada</h2>
        <p class="mb-10 text-lg text-gray-600">Se ingresaron los puntos.</p>

        <!-- Lienzo para la gráfica -->
        <div id="chartContainer" class="mt-10 mb-20 flex justify-center items-center cursor-grabbing">
            <canvas id="chartCanvas" [width]="canvasWidth" [height]="canvasHeight"></canvas>
        </div>

        <!-- Línea divisoria -->
        <hr class="border-t border-gray-300 my-8 mt-24">
        <div class="mt-5" >
            <div class="flex items-center justify-center mb-10 mt-10">
                <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">1</span>
                <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">2</span>
                <span class="bg-gray-300 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full mr-2">3</span>
                <span class="bg-blue-500 text-white text-lg font-bold w-8 h-8 flex items-center justify-center rounded-full">4</span>
            </div>
            <div>
                <div class="flex justify-center items-center gap-4">
                    <button type="button" class="px-6 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-green-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="this.currentStep = 3; generateLinearGraph(); scrollToGraph() ">
                        Lineal
                    </button>
                    <button type="button" class="px-6 py-2 bg-orange-500 text-white rounded-lg shadow-md hover:bg-green-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-orange-500" (click)="this.currentStep = 3; generatePolynomialGraph(); scrollToGraph()">
                        Polinómica
                    </button>
                    <button type="button" class="px-6 py-2 bg-purple-500 text-white rounded-lg shadow-md hover:bg-green-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-purple-500" (click)="this.currentStep = 3; generateExponentialGraph(); scrollToGraph()">
                        Exponencial
                    </button>
                </div>
                <div class="flex justify-center items-center gap-4 mt-5 ">
                    <button type="button" class="px-6 py-2 bg-indigo-500 text-white rounded-lg shadow-md hover:bg-green-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="this.currentStep = 3; generateInversaGraph(); scrollToGraph() ">
                        Inversa
                    </button>
                    <button type="button" class="px-6 py-2 bg-yellow-500 text-white rounded-lg shadow-md hover:bg-green-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-orange-500" (click)="this.currentStep = 3; generateLogaritmicGraph(); scrollToGraph()">
                        Logarítmica
                    </button>
                </div>
                <!-- Toggle para controlar si los ejes comienzan desde 0 -->
                <div class="flex justify-center items-center mt-5">
                    <label class="flex items-center cursor-pointer">
                        <p class="mr-2 text-gray-700">Empezar ejes desde 0</p>
                        <input type="checkbox" [(ngModel)]="startFromZero" class="hidden" id="toggleStartFromZero">
                        <div class="w-10 h-5 bg-gray-300 rounded-full relative transition-all duration-300"
                            [class.bg-blue-500]="startFromZero" [class.bg-gray-300]="!startFromZero">
                            <div class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full transform transition-transform duration-300"
                                [class.translate-x-5]="startFromZero"></div>
                        </div>
                    </label>
                </div>
                <!-- Toggle para alejar -->
                <!-- <div class="flex justify-center items-center mt-5">
                    <label class="flex items-center cursor-pointer">
                        <p class="mr-2 text-gray-700">Alejar</p>
                        <input type="checkbox" [(ngModel)]="startFromZero" class="hidden" id="toggleStartFromZero">
                        <div class="w-10 h-5 bg-gray-300 rounded-full relative transition-all duration-300"
                            [class.bg-blue-500]="startFromZero" [class.bg-gray-300]="!startFromZero">
                            <div class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full transform transition-transform duration-300"
                                [class.translate-x-5]="startFromZero"></div>
                        </div>
                    </label>
                </div> -->

            </div>
        </div>
        
        <!-- Mostrar ecuación -->
        <div *ngIf="equation" class="mt-10 mb-10 md:text-xl text-center text-gray-700 p-6 border-2 rounded-full border-green-500 bg-green-50/50">
            <p><strong class="mr-2">Ecuación:</strong> {{ equation }}</p>
        </div>

        <!-- Línea divisoria -->
        <hr class="border-t border-gray-300 my-8">





        <!-- Explicación de la ecuación -->
        <div class="mt-6 mb-10 text-sm text-left text-gray-600">
            <p><strong>¿Qué significa esta ecuación?</strong></p>
            
            <!-- Explicación para gráfica lineal -->
            <p *ngIf="graphType === 'lineal'">
                La ecuación generada es una relación lineal entre <strong>{{ labelX }}</strong> y <strong>{{ labelY }}</strong>. La pendiente indica la tasa de cambio de <strong>{{ labelY }}</strong> por cada unidad de <strong>{{ labelX }}</strong>, mientras que el término independiente representa el valor de <strong>{{ labelY }}</strong> cuando <strong>{{ labelX }}</strong> es igual a cero.
            </p>
            <p *ngIf="graphType === 'lineal'" class="mt-4">
                <strong>¿Cómo se interpreta una pendiente?</strong><br>
                La pendiente de una línea representa cuánto cambia <strong>{{ labelY }}</strong> por cada unidad de <strong>{{ labelX }}</strong>. 
                - Si la pendiente es positiva, significa que <strong>{{ labelY }}</strong> aumenta a medida que <strong>{{ labelX }}</strong> aumenta.
                - Si la pendiente es negativa, significa que <strong>{{ labelY }}</strong> disminuye a medida que <strong>{{ labelX }}</strong> aumenta.
                - Una pendiente de cero indica que no hay cambio en <strong>{{ labelY }}</strong>, independientemente de <strong>{{ labelX }}</strong>.
            </p>

            <!-- Explicación para gráfica polinómica -->
            <p *ngIf="graphType === 'polynomial'">
                La ecuación generada es una relación polinómica entre <strong>{{ labelX }}</strong> y <strong>{{ labelY }}</strong>. Los coeficientes determinan la forma de la curva, incluyendo su curvatura y puntos de inflexión. Esta ecuación describe cómo <strong>{{ labelY }}</strong> cambia de manera no lineal en función de <strong>{{ labelX }}</strong>.
            </p>
            <p *ngIf="graphType === 'polynomial'" class="mt-4">
                <strong>¿Cómo se interpretan los coeficientes?</strong><br>
                - El coeficiente del término cuadrático determina la curvatura de la gráfica.<br>
                - El coeficiente del término lineal afecta la inclinación de la curva.<br>
                - El término independiente indica el valor de <strong>{{ labelY }}</strong> cuando <strong>{{ labelX }}</strong> es igual a cero.
            </p>

            <!-- Explicación para gráfica exponencial -->
            <p *ngIf="graphType === 'exponencial'">
                La ecuación generada es una relación exponencial entre <strong>{{ labelX }}</strong> y <strong>{{ labelY }}</strong>. Esto significa que <strong>{{ labelY }}</strong> crece o decrece de manera proporcional a una potencia de <strong>{{ labelX }}</strong>. Los coeficientes determinan la tasa de crecimiento o decrecimiento.
            </p>
            <p *ngIf="graphType === 'exponencial'" class="mt-4">
                <strong>¿Cómo se interpretan los coeficientes?</strong><br>
                - El coeficiente inicial determina el valor base de <strong>{{ labelY }}</strong>.<br>
                - El exponente controla la velocidad de crecimiento o decrecimiento de la gráfica.<br>
                - Una tasa de crecimiento positiva indica un aumento exponencial, mientras que una negativa indica un decrecimiento exponencial.
            </p>
        </div>

        <button type="button" class="mt-10 mb-16 px-6 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500" (click)="resetForm()">
            Reiniciar
        </button>
    </div>
</div>
