
.hidden {
    display: none;
}

/* Estilo por defecto para el canvas */
.chart-canvas {
    width: 600px;
    height: 600px;
  }
  
  /* Ajuste para dispositivos móviles */
  @media (max-width: 768px) {
    .chart-canvas {
      width: 400px;
      height: 400px;
    }
  }

  select {
    -webkit-appearance: none; /* Eliminar el estilo predeterminado en navegadores WebKit */
    -moz-appearance: none;    /* Eliminar el estilo predeterminado en navegadores Firefox */
    appearance: none;         /* Eliminar el estilo predeterminado en navegadores modernos */
    background: none;         /* Eliminar el fondo predeterminado */
    border: none;             /* Eliminar el borde */
    outline: none;            /* Eliminar el contorno */
    cursor: pointer;          /* Cambiar el cursor a puntero */
  }

  .accordion-button {
    font-weight: bold;
    color: #333;
  }
  
  .accordion-body {
    font-size: 14px;
    line-height: 1.6;
  }

.custom-hover-shadow:hover {
box-shadow: 0 0 15px 5px rgba(255, 0, 106, 0.7);
transition: box-shadow 0.3s ease-in-out;
}