
.hidden {
    display: none;
}

/* Estilo por defecto para el canvas */
.chart-canvas {
    width: 600px;
    height: 600px;
  }
  
  /* Ajuste para dispositivos móviles */
  @media (max-width: 768px) {
    .chart-canvas {
      width: 400px;
      height: 400px;
    }
  }
  
  select {
    -webkit-appearance: none; /* Eliminar el estilo predeterminado en navegadores WebKit */
    -moz-appearance: none;    /* Eliminar el estilo predeterminado en navegadores Firefox */
    appearance: none;         /* Eliminar el estilo predeterminado en navegadores modernos */
    background: none;         /* Eliminar el fondo predeterminado */
    border: none;             /* Eliminar el borde */
    outline: none;            /* Eliminar el contorno */
    cursor: pointer;          /* Cambiar el cursor a puntero */
  }