
.hidden {
    display: none;
}

/* Estilo por defecto para el canvas */
.chart-canvas {
    width: 600px;
    height: 600px;
  }
  
  /* Ajuste para dispositivos móviles */
  @media (max-width: 768px) {
    .chart-canvas {
      width: 400px;
      height: 400px;
    }
  }